.centered-form {
    padding:25px;
    background-color: #eee;
    width: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 19px 5px rgba(0, 0, 0, 0.43);
}

.small-picture {
    width: 75px;
    height: 75px;
}