<div class="header__linksBand yellowStyled">

    <ul class="userMenu">
        {% for category in categories %}
            <li> 
                <a 
                {% if category['current']%}
                class="userMenu__item active"
                {% else %}
                class="userMenu__item"
                {% endif %}
                href={{"/category/path"|replace({"path":category['id']}) }}
                >  {{category['name']}} </a>
            </li>
        {% endfor %} 
    </ul>
</div>
