<!-- Модальное окно загрузкиизображения-->
<div class="centered-form hidden" id="load_img_form">
  <div class="editFormTitle">Load new image</div>
  <form
    action="/file-upload"
    class="fileload fileupload-marg"
    id="fileupload"
  ></form>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">
      Ok
    </button>

    <button class="btn btn-default" type="reset" onclick="cancelLoadFiles()">
      Cancel
    </button>
  </div>
</div>
