
<!-- Модальное окно загрузкиизображения-->  
<div class="centered-form hidden" id="load_img_form">
	<div class="editFormTitle"> Load new image </div>
	<form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone">
      
      </form>
</div>
